body {
  background: #000;
  color: #fff;
}

header {
  text-align: center;
  padding: 50px 0;
  background: #333;
  display: none;
  background-image: url("../img/net.jpg");
  background-repeat: no-repeat;
}

header h1 {
  margin: 0;
  text-shadow: 3px 3px 6px #000;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

/*-- Form section styles --*/

.question {
  display: none;
  text-align: center;
}

#numInput {
  max-width: 200px;
  margin: 20px auto;
}

/*-- ping pong number output styles --*/

.output {
  padding: 0 10px;
}

.numbers {
  border: 2px solid #ccc;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  margin-top: 20px;
  display: none;
}

.numbers p {
    display: inline-block;
    margin: 20px;
}

.pp {
  color: #968;
}

.po {
  color: #364;
}

.pi {
  color: #568;
}

.pp,
.po,
.pi {
  font-weight: bold;
}
