html {
	position: relative;
	min-height:100%;
}

body {
  background: #000;
  color: #fff;
}

header {
  text-align: center;
  padding: 90px 0;
  background: #333;
  display: none;
  background-image: url("../img/net1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header h1 {
  margin: 0;
  text-shadow: 3px 3px 6px #000;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 40px;
}

/*-- Form section styles --*/

.enter-again {
  display: none;
  text-align: center;
  background: #111;
  padding: 20px;
}

.question {
  display: none;
  text-align: center;
}

#numInput {
  max-width: 200px;
  margin: 20px auto;
}

/*-- ping pong number output styles --*/

.output {
  padding: 0 10px;
}

.numbers {
  border: 2px solid #ccc;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  display: none;
}

.numbers p {
    display: inline-block;
    margin: 20px;
}

.pp {
  color: #968;
}

.po {
  color: #364;
}

.pi {
  color: #568;
}

.pp,
.po,
.pi {
  font-weight: bold;
}

/*-- button and form input styles --*/

.btn-input,
.btn-again {
  background: #11141c;
  border: 2px solid #679;
  padding: 10px 15px;
  font-size: 1.5rem;
}

.btn-input:hover,
.btn-again:hover {
  background: #143;
  border: 2px solid #697;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: #ccc;
}

#numInput {
  background: #111;
  height: 100px;
  text-align: center;
  font-size: 3rem;
  color: #0f0;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #000;
	width: 100%;
  padding: 10px;
  margin-top: 35px;
  text-align: center;
  color: #555;
}
